<div class="auth-form">
  
  <div class="auth-form-wrapper">
    <h1 class="h1-center">Crear Cuenta</h1>
    <form [formGroup]="authForm" class="form-container" (ngSubmit)="onSubmit()">
      <div class="input-container" >
        <label class="auth-label" for="displayName">Nombre de la pelicula </label>
        <input
          type="text"
          id="displayName"
          placeholder="Carlos Garcia"
          formControlName="displayName"
          class="auth-input"
        />
      </div>
      <div class="button-wrapper">
        <div class="button-container">
          <button type="submit" class="submit-button">seguir</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="list-wrapper">
  <mat-paginator [length]="moviesList.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[8]"
      (page)="getPaginatorData($event)">
  </mat-paginator>
  <ng-container id="output" *ngFor="let movie of (moviesList | slice: lowValue : highValue)">
      <app-postpelicula [movie]="movie"></app-postpelicula>
  </ng-container>
</div>
