
footer {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

img {
    width: 150px;
    height: 150px;
}

ul { 
    color: white;
    background-color: #1C1A1A;
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
    height: 200px;
    margin: 0;
}
li {
    padding-inline-end: 10px;
}

.centro{
    padding-top: 15px;
    display: flex;
    justify-content: center;
}
.red {
    color: red;
}
