<body>

</body>
<footer>
    <ul>

        <div><ol class="centro">Ubicacion </ol>
        <li class="centro">C.C. Galeria los Naranjos</li>
        <li class="centro">C.C. Sambil Caracas</li>
        <li class="centro">Millenium Mall</li>
        </div>
        <ol class="centro"><img src="../../../assets/1519856682163.png"></ol>
        <div><ol class="centro">Contacto</ol>
            <li class="centro">@cinesunidos ---<a href="https://www.instagram.com/cinesunidos/?hl=es-la" target="_blank" class="red"> Instagram</a></li>
            <li class="centro">@CinesUnidos ---<a href="https://twitter.com/CinesUnidos" target="_blank" class="red"> Twitter</a></li>
        </div>
    </ul>
</footer>