<div class="card-wrapper">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{movie.titulo}}</mat-card-title>
            <mat-card-subtitle>Lenguaje: {{movie.idiomas}}</mat-card-subtitle>
        </mat-card-header>
        <img class="image" mat-card-image src={{movie.imagen}} alt="Civer image of movie">
        <mat-card-content>
            <p>
                Popularidad: {{movie.popularidad}} personas
            </p>
            <div *ngIf="extendedView">
                <p>
                    Generos: {{movie.genre}}
                </p>
                <p>
                    Presupuesto: {{movie.presupuesto}}
                </p>
                <p>
                    Descripcion: {{movie.descripccion}}
                </p>
                <p>
                    Rating: {{movie.rating}}
                </p>
                <p>
                    Productora: {{movie.productora}}
                </p>
                <p>
                    Lanzamiento: {{movie.lanzamiento}}
                </p>
                <p>
                    Estado: {{movie.lanzamiento}}
                </p> 
            </div>
            
        </mat-card-content>
        <mat-card-actions>
            <div class="buttons" >
               <div class="button-wrapper" *ngIf="user && !userLiked">
                    <div class="button-container"> 
                        <button mat-button class="more-button" (click)="favClick()">Fav</button>
                    </div>
                </div>
                <div class="button-wrapper" *ngIf="user && userLiked">
                    <div class="button-container">
                        <button class="more-button" (click)="unfavClick()">Disfav </button>
                    </div>
                </div>
                <div class="button-wrapper">
                    <div class="button-container">
                        <button  class="more-button" mat-button (click)="shareMovie(this.movie)">Ver mas</button>
                    </div>
                </div> 
            </div>
            
            
        </mat-card-actions>
    </mat-card>
</div>
