@import "../../../styles/Lib/variables.scss";

.list-wrapper {
    margin-top: 10%;
}

.title {
    margin-top: 14%;
    height: 10em;
}

h1{
    font-family: $primary-font;
    font-size: 7em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    color: #de1738;;
    text-shadow: 2px 2px #e4e019;

}

