.centro {
    display: flex;
    justify-content: center;
}

.formu {
    padding-top: 10px;
    padding-left: 5px;
    height: 70px;
    width: 300px;
    background-color: gray;
    border-radius: 2.5px;
}